@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cont{
	max-width: 1200px;
	margin: 0 auto;
}
.cont > h1{
	padding: 30px 0;
}
.cart{
	display: flex;
}
.prodcts{
	flex: 0.75;
}
.prodct{
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}
.prodct:hover{
	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);
}
.prodct > img:hover{
	transform: scale(1.04);
}
.prodct-info{
	padding: 20px;
	width: 100%;
	position: relative;
}
.prodct-name, .prodct-price{
	margin-bottom: 20px;
}
.prodct-remove{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
.prodct-remove:hover{
	background-color: white;
	color: green;
	font-weight: 600;
	border: 1px solid green;
}
.prodct-quantity > input{
	width: 40px;
	padding: 5px;
	text-align: center;
}
.fa{
	margin-right: 5px;
}
.cart-total{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 240;
	border: 1px solid silver;
	border-radius: 5px;
}
.cart-total p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.cart-total a{
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: tomato;
	color: white;
	text-decoration: none;
}
.cart-total a:hover{
	background-color: red;
}
}
#container
{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #e9e9eb;
}
#logo
{
    position: absolute;
    left: 8%;
    top: 30px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    color: #165397;
}
#navbar
{
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fdfefe;
    display: grid;
    place-items: center;
}
#navbar ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#navbar ul li
{
    font-size: 20px;
    margin: 0 45px;
}
#navbar ul li a
{
    text-decoration: none;
    color: #000;
}
#navbar ul li a:hover
{
    color: #165397;
}
#navbar ul #login
{
    height: 50px;
    width: 120px;
    position: absolute;
    top: 20px;
    right: 7%;
    display: grid;
    place-items: center;
    background: #165397;
    border-radius: 10px 20px;
}
#navbar ul #login a
{
    color: #e9e9eb;
}
#navbar ul #login:hover
{
    background: #000;
}